body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
}

p {
    font-size: 16px;
}